@model Pojisteni.Models.Person

@{
    ViewData["Title"] = "Odstranit pojištěnce";
}

<h1>Odstranit pojištěnce</h1>

<div>
    <h4>Pojištěnec</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jmenoPojistence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jmenoPojistence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prijmeniPojistence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prijmeniPojistence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSC)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonId" />
        <input type="submit" value="Odstranit pojištěnce" class="btn btn-danger" /> 
        <a class="btn btn-primary" asp-action="Index">Zpět</a>
    </form>
</div>
