@model Pojisteni.Models.Insurance

@{
    ViewData["Title"] = "Detail";
}

<div>
    <h3>@Html.DisplayFor(model => model.InsuranceName.nazevPojisteni)</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class="col-sm-10">

            <a asp-controller="People" asp-action="Details" asp-route-id="@Model?.PersonId"> @Html.DisplayFor(model => model.Person.celeJmeno) </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Castka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Castka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.predmetPojisteni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.predmetPojisteni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.platnostOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.platnostOd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.platnostDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.platnostDo)
        </dd>
    </dl>
</div>
@if (User.IsInRole("admin"))
{
    <div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.InsuranceId">Editovat pojištění</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.InsuranceId">Odstranit pojištění</a>
    </div>
}
